.send-message {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.send-message__txt:focus,
.send-message__txt:active,
.send-message__btn:focus,
.send-message__btn:active {
  outline: none;
}

.send-message__txt, .send-message__btn {
  border: none;
  background: none;
  background-color: #34465c;
  color: #fff;
  font-family: inherit;
  padding: 15px 7px;
}

.send-message__txt {
  flex-grow: 1;
  resize: none;
  margin: 0 0 -1px 0;
}

.send-message__txt::placeholder {
  color: #afbecb;
}