.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon--menu {
  width: 30px;
  height: 30px;
  background-image: url(./img/menu.svg);
}

.icon--add {
  width: 25px;
  height: 25px;
  background-image: url(./img/plus.svg);
}

.icon--file {
  width: 19px;
  height: 19px;
  background-image: url(./img/attach.svg);
}

.icon--ok {
  width: 30px;
  height: 30px;
  background-image: url(./img/ok.svg);
}