.message {
  display: flex;
  margin: 20px 0;
}

.message .avatar {
  margin-right: 20px;
}

.message__txt {
  line-height: 1.5;
  position: relative;
  padding: 10px;
  border-radius: 6px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #637589;
}

.message__txt:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #637589 transparent transparent;
  top: 16px;
  left: -5px;
  border-width: 4px 5px 4px 0;

}

.message__time {
  margin: 5px 0;
  font-size: 11px;
  text-align: right;
  padding-right: 5px;
}

.message--my {
  justify-content: flex-end;
}

.message--my .message__right {
  order: -1
}

.message--my .message__txt {
  color: #637589;
  background-color: #fff;
}

.message--my .message__txt:before {
  border-color: transparent transparent transparent #fff;
  top: 16px;
  left: auto;
  right: -5px;
  border-width: 4px 0 4px 5px;
}

.message--my .avatar {
  margin-right: 0;
  margin-left: 20px;
}
